<<<<<<< HEAD
#texto {
    font-size: 24px;
    font-family: Courier, monospace;
=======
#texto {
    font-size: 24px;
    font-family: Courier, monospace;
>>>>>>> 9bf90f6bd409f91c56e1d8c3f6959d71622b6345
}